html
    head
        link(rel="stylesheet" href="styles/styles.min.css")

    body

        include includes/sample-include

        img(src='./assets/img/gulp-logo.png')

        script(src="scripts/scripts.min.js")